# Ignorar PDFs
*.pdf

# Ignorar archivos LaTeX
*.tex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# Ignorar presentacion y tests sueltos
presentacion.md
test_sum.kt

# Ignorar scripts shell
*.sh

# Ignorar carpeta semanas
semanas/
